
.non-active{
  border-radius:15px;
  transition-duration: 0.4s;
}

.non-active:hover{
  font-family: var(--font);
  font-size: 1.1rem;
  font-weight: bold;
  /* background-color: rgb(187, 255, 200); */
  color:#fff;
  
  border-radius:15px;
  background: rgb(52, 0, 87);
  background: linear-gradient(90deg, rgb(211, 177, 235) 0%, rgb(239, 162, 162) 67%,rgb(203, 170, 124)) 100%);
}

.collapse{
  margin-right: 150px;
}

.nav-item{
  margin:0% 4%;
}
.nav-link{
  transition-duration: 0.4s;
}

.br{
  font-weight:bolder;
}