.img_gallery {
    position: relative;
    & img {
        width: 65%;
        height: 20rem;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.4);
        box-shadow: 0 1.5rem 4rem rgba($color-dark-light, 0.4s);
        outline-offset: 1rem;

        transition: all 0.3s;
        &.picture1 {
            top: -3rem;
            left: 0;
        }
        &.picture2 {
            top: 5rem;
            right: 0;
        }
        &.picture1 {
            left: 15%;
            top: 10rem;
        }
        &:hover {
            outline : 1.5rem solid $color-btn;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-dark, 0.5);
            z-index: 10;
        }
    }
    &:hover &.photo:not(:hover){
        transform : scale(.8);
    }
}
