@import 'abstracts/variables';
@import 'abstracts/mixins'; 
@import 'abstracts/functions';

@import 'base/base';
@import 'base/animations';
@import 'base/typo'; 
@import 'base/utilities';

@import 'components/buttons'; 
@import 'components/gallery'; 
@import 'layouts/header';
@import 'layouts/grid';       

  
@media (max-width: 768px) {
    html {
        font-size: 100%;
    }
     
    .head {
        height: 90vh;
    }
    .head-content {
        font-size: 2rem;
    }
    .logo {
        width: 50px;
        height: 40px;
    }
    body {
        padding: 0px;
    }
    .hch {
        font-size: 1.5rem;
    }
    .hcs {
        font-size: 1rem;
    }
    .btn {
        padding: 0.5rem 2rem;
        font-size: 0.5rem;
        margin-top: 15px;
        font-size: 0.8rem;
    }
    .head-imgs {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: black;
    }
}
